* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

.center  {
    padding-left: calc(50% - 600px) ;
    padding-right: calc(50% - 600px) ;
}

body {
    font-family:'Montserrat', sans-serif; 
}

.top {
    height: 1024px;
    background: url(../img/Rectangle-1.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size:cover;
    padding-top: 217px;
        &__title {
        font-style: normal;
        font-weight: 700;
        font-size: 64px;
        line-height: 78px;
        display: flex;
        align-items: center;
        color: #FFFFFF;
        width: 789px;
    }
        &__text {
        font-weight: 300;
        font-size: 18px;
        line-height: 32px;
        color: #FFFFFF;
        width: 481px;
        margin-top: 32px;
    }
        &__button {
        width: 234px;
        height: 49px;
        background: #9C0332;
        border: none;
        border-radius: 30px;
        margin-top: 44px;
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        line-height: 22px;
        color: #FFFFFF;
    }
}


.games {
    padding: 128px 0;
    background: #000915;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 32px;
        &__box {
        width: 379px;
        height: 300px;
        border-radius: 24px;
        font-style: normal;
        font-weight: 600;
        font-size: 24px;
        line-height: 32px;
        color: #FFFFFF;
        padding-left: 32px;
        padding-top: 236px;
            &_1 {
                background: url(../img/Rectangle-6.jpg);
                background-position: center;                 
            }

            &_2 {
                background: url(../img/Rectangle-7.jpg);
                background-position: center;   
            }

            &_3 {
                background:  url(../img/Rectangle-8.jpg);
                background-position: center;   
            }

    }

}

@import 'mobile';



